[submodule "util"]
	path = util
	url = git://github.com/mattjj/pymattutil.git
[submodule "basic/pybasicbayes"]
	path = basic/pybasicbayes
	url = git://github.com/mattjj/pybasicbayes.git
[submodule "deps/Eigen3"]
	path = deps/Eigen3
	url = git://github.com/mattjj/Eigen3.git
